body {
    height: 4096px;
    font-family: 'Outfit';
    margin: 0;
}

#container {
    width: 100%;
    height: 100%;
    background: white;
}

.scroll-card {
    width: 100%;
    height: 25%;
}

#intro-img {
    width: auto;
    height: 1024px;
}





#signin-footer {
    background: #4d4b30;
}